body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:white;
    padding: 20px 0;
    
}

#survey-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 20px 2px 50px rgba(255, 255, 255, 0.2);
    background-color: rgba(0,0,0, 0.4); 
    border: 3px solid #f1f1f1;
    width: 80%;
}

#description{text-align: center;}

label, p {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    color:white;
    background-color: rgba(0,0,0, 0.4); 
    border: 3px solid #f1f1f1;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

#submit {
    background-color: #1F456E;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#submit:hover {
    background-color: #555;
}